<h1 id="news">新規投稿</h1>

<h3><%= link_to "投稿一覧", :blogs %></h3>

<%= form_with model: @blog, method: :post, local: true do |form| %>
<%= render "form", form: form %>
<p><%= form.submit "投稿" %></p>
<% end %>
