<h1>DRINKメニューの詳細</h1>
  
<h3 id="menu"><%= link_to "TOP", :root %></h3>

<table class="list">
  <tr>
    <th>飲料名</th>
    <td><%= @drink.name %></td>
  </tr>
  <tr>
    <th>値段</th>
    <td><%= @drink.price %></td>
  </tr>
  <% if @drink.image? %>
  <tr>
    <th>画像</th>
    <td><%= image_tag @drink.image.url %></td>
  </tr>
  <% end %>
</table>
