<% if controller.controller_name == 'tops' %>
<div id="maps">
  <div id="maps_img">
    <%= image_tag"maps.svg" %>
  </div>
  <div id="maps">
    <iframe id="g_map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3254.309930871531!2d139.4778455504944!3d35.347953955688844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60184e2906bf6377%3A0xf029f8e0f77d197e!2z44Ko44Or44Kr44Oq44O844OL44On!5e0!3m2!1sja!2sjp!4v1526366819915"allowfullscreen></iframe>
    <p id="access">藤沢本町駅より徒歩5分<br>白旗の交差点から藤沢橋方面へ200m</p>
  </div>
</div>

<div id="parking">
  <p id="parking">無料専用駐車場</p>
  <%= image_tag "parking.png", :size => "400x580" %>
  <p id="access">三井のリパーク敷地内にあります</p>
</div>

<div id="info">
  <div id="info_img">
    <%= image_tag "info.svg" %>
  </div>
  <div id="infomation">
    <table id="info" rules="rows">
      <tr><td>　　　　　</td><td></td></tr>
      <tr><td class="info_data">店名</td><td class="info_data">エルカリーニョ</td></tr>
      <tr><td class="info_data">店住所</td><td class="info_data">〒251-0052 神奈川県藤沢市藤沢2丁目1−3</td></tr>
      <tr><td class="info_data">駐車場</td><td class="info_data">〒251-0052 神奈川県藤沢市藤沢2丁目1−9</td></tr>
      <tr><td class="info_data">営業時間</td><td class="info_data">11:00 ~ 14:00 (13:45LO)<br>17:00 ~ 25:00 (24:30LO)</td></tr>
      <tr><td class="info_data">定休日</td><td class="info_data">火曜日　※祝日は営業する場合あります</td></tr>
      <tr><td class="info_data">電話番号</td><td class="info_data">0466-26-1500</td></tr>
      <tr><td class="info_data">座席数</td><td class="info_data">約50席</td></tr>
      <tr><td class="info_data">支払方法</td><td class="info_data">現金のみ</td></tr>
      <tr><td class="info_data">たばこ</td><td class="info_data">全席喫煙可</td></tr>
      <tr><td class="info_data">駐車場</td><td class="info_data">あります　※台数に限り有</td></tr>
      <tr><td class="info_data">予約</td><td class="info_data">上記の電話番号より承ります</td></tr>
      <tr><td class="info_data">貸切</td><td class="info_data">40名様以上のご予約より承ります</td></tr>
    </table>
  </div>
</div>
<% end %>

<div id="copy">
  <small>&copy; 2018 Mamoru-Moriai & Mohamed-Azhari</small>
</div>
