<% if controller.controller_name == 'tops' %>

<div align="center">

<h2>BLOG</h2>
<div id="blog">
  <% if @blogs.present? %>
    <table id="blogs">
      <% @blogs.each do |blog| %>
      <tr>
        <td id="blog_title"><%= link_to blog.title, blog %></td>
        <td>\</td>
        <td id="blog_time"><%= blog.time %></td>
      </tr>
      <% end %>
    </table>
    <%= will_paginate @blogs %>
  <% else %>
    <p>blog is nothig.</p>
  <% end %>
</div>

</div>

<% end %>
